---
layout: homepage
title: KPCM Homepage
---

<div class="container_12">
	<div class="grid_12 home_page_rotator_container blueberry">
		<div id="home_page_rotator">
			<ul class="slides">
				{% for post in site.posts %}
				<li><a href="{% if post.redirect-url != nil %}{{ post.redirect-url }}{% else %}{{ post.url }}{% endif %}"><img src="{{ post.cover-image }}" alt="{{ post.title }}" /></a></li>
				{% endfor %}
			</ul>

			<ul class="home_page_rotator_labels rotator_labels pager">
				{% for post in site.posts %}
				<li class="rotator_label"><a href="#">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<hr class="clear" />

	<div class="container_12">
	<ul id="home_features" class="grid_12">
		<li class="grid_3 alpha highlight_ad_text_blue" style="background-image: url('/uploads/2012/05/our_vision_2012_spring1.png');"
			onclick="location.href = '/about/our-vision/';">
			<h3>Our Vision</h3>
			<p>What we are about</p>
		</li>
		<li class="grid_3" style="background-image: url('/uploads/2012/05/word_from_pastor_2012_spring.png');"
			onclick="location.href = '/welcome/';">
			<h3>Welcome from Pastor Mark</h3>
		</li>
		<li class="grid_3 white_text" style="background-image: url('/uploads/2011/08/our_worship1.png');"
			onclick="location.href = '/about/our-worship/';">
			<h3>Our Worship</h3>
			<p>How we glorify God</p>
		</li>
		<li class="grid_3 white_text omega" style="background-image: url('/uploads/2011/08/visit_us1.png');"
			onclick="location.href = '/contact/';">
			<h3>Visit KPCM EM!</h3>
		</li>
	</ul>
	</div>
</div>