	<div class="footer container_12">
		<div class="grid_5">
			<p>2012 &copy; Korean Presbyterian Church of Minnesota.</p>
		</div>
		<div class="grid_7">
			<p class="right"><a href="/about/our-worship/praise-songs/">Weekly Praise Songs</a> | <a href="/contact/">Contact Us</a> | <a href="/about/our-vision/">Our Vision Statement</a></p>
		</div>
	</div>
	<!-- Quantcast Tag -->
	<script type="text/javascript">
	var _qevents = _qevents || [];

	(function() {
	var elem = document.createElement('script');
	elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
	elem.async = true;
	elem.type = "text/javascript";
	var scpt = document.getElementsByTagName('script')[0];
	scpt.parentNode.insertBefore(elem, scpt);
	})();

	_qevents.push({
	qacct:"p-NKCP6bHExqS0K"
	});
	</script>

	<noscript>
	<div style="display:none;">
	<img src="//pixel.quantserve.com/pixel/p-NKCP6bHExqS0K.gif" border="0" height="1" width="1" alt="Quantcast"/>
	</div>
	</noscript>
	<!-- End Quantcast tag -->
</body>
</html>
